body {
    text-align: center;
    background: linear-gradient(to right, aquamarine, lightblue);
}

form {
    display: inline-block;
    text-align: left;
    background: linear-gradient(to left, lightblue, aquamarine);
    border-width: 10px;
    border-style: solid;
    border-color: teal;
    margin : 20px;
    padding: 20px;
}

input,
textarea {
    width: 300px;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

